body {
    background-image: url('../img/bg.jpg');
    background-size: 150%;
}

p, div, h1 {
    color: aliceblue;
}

.ytb {
    display: inline-block;
    width: 50%;
    height:50%;
    margin: 1%;
}

@media only screen and (max-width:800px) {
    .ytb {
        display: none;
    }
   }